* {
    box-sizing: border-box;
}

body {
    background-color: darkgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: aliceblue;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.container > div {

    border: 1px solid forestgreen;
}
